:root {
    --effect-duration: 0.3s;
    --box-shadow: 0 1.7px 2.2px rgba(0, 0, 0, 0.039),
    0 4px 5.3px rgba(0, 0, 0, 0.057),
    0 7.5px 10px rgba(0, 0, 0, 0.07),
    0 13.4px 17.9px rgba(0, 0, 0, 0.083),
    0 25.1px 33.4px rgba(0, 0, 0, 0.101),
    0 60px 80px rgba(0, 0, 0, 0.14);
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

header img {
    margin: 0 auto;
    max-width: 100%;
}

#hamburger {
    display: none;
}

nav {
    position: relative;
}

nav label {
    display: inline-block;
    font-style: normal;
    font-size: 2rem;
    padding: .5rem;
    width: 100%;
    text-align: center;
}

/* Footer */

footer {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-top: 1px solid #006ad5;
    display: flex;
    justify-content: space-between;
}

.social-media {
    font-size: 1.5rem;
    padding-top: 0;
}


a {
    text-decoration: none;
    color: #006ad5;
}

main {
    color: hsl(0, 0%, 18%);
    font-weight: 300;
    line-height: 1.3rem;
}

main a {
    font-weight: 400;
}

main a:hover {
    text-decoration: underline;
}

main strong {
    font-weight: 500;
    color: hsl(0, 0%, 25%);
}

#gauge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    min-width: 320px;
    max-width: 500px;
    margin: 2rem auto 0;
    border: 1px solid #006be2;
    padding: .5rem 0;
    box-shadow: var(--box-shadow);
}

meter {
    width: 300px;
}

.expired {
    text-decoration: line-through;
}

.sessions, .old_sessions {
    width: 100%;
    margin: 1rem 2rem;
}

.sessions tr :nth-child(3) {
    text-align: center;
}

.old_sessions tr :nth-child(2) {
    text-align: center;
}

.google-dirve {
    width: 95%;
    height: 500px;
}

.cagnotte {
    display: grid;
    grid-template-columns: auto auto;
}

.coach {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.coach img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.coach figcaption {
    text-align: center;
}

dt {
    margin: .5rem 0 .2rem 0;
}

.yellow-belt {
    background: rgb(250, 209, 26);
}

.red-belt {
    background: #ea4737;
}

.green-belt {
    background: #49B749;
}

.blue-belt {
    background: #006ad5;
    color: rgb(245, 239, 239);
}

.black-belt {
    background: #000;
    color: rgb(245, 239, 239);
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

.main-menu {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-variant: all-small-caps;
    padding: 0;
}

.main-menu a {
    color: #000;
}

.main-menu li {
    list-style-type: none;
}

.main-menu a {
    display: inline-block;
    padding: .4rem 0;
    width: 100%;
}

.main-menu a:hover {
    color: #FFF;
}

@media (hover: hover) {

    .fa-bars {
        display: none;
    }

    #a-propos {
        --color: #FAA31A;
    }

    #session {
        --color: #49B749;
    }

    #guides {
        --color: #0093D5;
    }

    #divers {
        --color: #ea4737;
    }

    .main-menu ul {
        position: absolute;
        padding: 0;
        margin: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition-duration: var(--effect-duration);
        background-color: #FFF;
        width: 100%;
    }

    .main-menu > li {
        cursor: pointer;
        position: relative;
    }

    .main-menu > li:hover ul {
        transform: translateY(1px) scaleY(1);
    }

    .main-menu > li:hover span, .main-menu .current span {
        border-bottom-color: var(--color);
    }

    .main-menu span {
        display: inline-block;
        padding: .7rem 1.3rem;
        border-bottom: 3px solid #FFF;
        transition-duration: var(--effect-duration);
    }

    .main-menu .fa-angle-down {
        padding-left: .3rem;
        font-size: 1rem;
    }

    .main-menu a:hover {
        background-color: var(--color);
    }

}

@media (hover: none), (hover: on-demand) {

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header img {
        margin: unset;
        max-width: calc(100vw - 5rem);
    }

    header nav {
        justify-self: flex-end;
    }

    .fa-angle-down {
        display: none;
    }

    .main-menu {
        position: absolute;
        right: 0;
        width: 10rem;
        flex-direction: column;
        margin: 0;
        text-align: left;
        background: rgba(247, 247, 247, 0.9);
        transform: scaleY(0);
        transform-origin: top;
        transition-duration: var(--effect-duration);
    }

    .main-menu span {
        display: block;
        text-align: left;
        padding-left: 1rem;
        background-color: rgba(44, 44, 44, 0.9);
        color: #fff;
    }

    .main-menu ul {
        margin: 0;
        padding-left: 1rem;
        padding-right: .5rem;
    }

    .main-menu ul a {
        padding-left: 1rem;
    }

    nav input:checked ~ .main-menu {
        transform: scaleY(1);
    }

    footer {
        flex-direction: column;
    }

    .social-media {
        padding-top: 5px;
        font-size: 2rem;
    }

}