<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CoderDojo de Braine-l'Alleud. Apprendre aux enfants à programmer tout en s'amusant">
    <title>{{ .Site.Title }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
        @import url('/fontawesome/css/all.min.css');
        @import url('/fontawesome/css/brands.min.css');
    </style>
    <link rel="stylesheet" href="/css/style.css?cacheBuster=3">
</head>

<body>
<div id="container">
    <header>
        <img src="/images/logo-cdj-be.png" alt="CoderDojo de Braine-l'Alleud">
        <nav>
            <input type="checkbox" id="hamburger">
            <label for="hamburger" class="far fa-bars"></label>
            <menu class="main-menu">
                <li id="a-propos" {{ if or .Page.IsHome (eq .Params.menu "accueil") }}class="current" {{ end }}>
                    <span>A Propos <i class="far fa-angle-down"></i></span>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/coaches">Coaches</a></li>
                    </ul>
                </li>
                <li id="session" {{ if eq .Params.menu "sessions" }}class="current"{{ end }}>
                    <span>Sessions <i class="far fa-angle-down"></i></span>
                    <ul>
                        <li><a href="/sessions">A venir</a></li>
                        <li><a href="/sessions/passees">Passées</a></li>
                    </ul>
                </li>
                <li id="guides" {{ if eq .Params.menu "guides" }}class="current"{{ end }}>
                    <span>Guides <i class="far fa-angle-down"></i></span>
                    <ul>
                        <li><a href="/guides/debutants">Débutants</a></li>
                        <li><a href="/guides/scratch">Scratch</a></li>
                        <li><a href="/guides/python">Python</a></li>
                    </ul>
                </li>
                <li id="divers" {{ if eq .Params.menu "divers" }}class="current"{{ end }}>
                    <span>Divers <i class="far fa-angle-down"></i></span>
                    <ul>
                        <li><a href="/ceintures">Ceintures</a></li>
                        <li><a href="/cagnotte">Cagnotte</a></li>
                    </ul>
                </li>
            </menu>
        </nav>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
        <div id="gauge">
            <p><a href="/cagnotte">Aidez-nous à atteindre notre objectif!</a><br>
                <meter value="50" max="100" title="Cagnotte actuelle: 50€ sur 100€">Cagnotte actuelle: 45€</meter></p>
            <img src="/images/robot/mbot_mini.png" alt="Robot mBot" srcset="/images/robot/mbot_mini_2x.png 2x">
        </div>
    </main>
    <footer>
        <a href="mailto:brainelalleud@coderdojobelgium.be"><span class="far fa-envelope-open"></span>
            brainelalleud@coderdojobelgium.be</a>
        <div class="social-media">
            <a href="https://www.facebook.com/coderdojobla" class="fab fa-facebook-square" title="Notre page Facebook"></a>
        </div>
    </footer>
</div>
</body>

</html>
