<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
        @import url('/fontawesome/css/all.min.css');
        @import url('/fontawesome/css/brands.min.css');
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div id="container">
    <header>
        <img src="/images/logo-cdj-be.png">
        <nav>
            <input type="checkbox" id="hamburger">
            <label for="hamburger" class="far fa-bars hidden"></label>
            <ul>
                <li id="accueil" {{ if .Page.IsHome }}class="current" {{ end }}><a href="/">Accueil</a></li>
                <li id="session" {{ if eq .Params.menu "sessions" }}class="current"{{ end }}><a href="/sessions">Sessions</a></li>
                <li id="coaches" {{ if eq .Params.menu "coaches" }}class="current"{{ end }}><a href="/coaches">Coaches</a></li>
                <li id="ceintures" {{ if eq .Params.menu "ceintures" }}class="current"{{ end }}><a href="/ceintures">Ceintures</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    <footer>
        <a href="mailto:brainelalleud@coderdojobelgium.be" class="far fa-envelope-open">
            brainelalleud@coderdojobelgium.be</a>
        <div class="social-media">
            <a href="https://www.facebook.com/coderdojobla" class="fab fa-facebook-square" title="Notre page Faceboo"></a>
        </div>
    </footer>
</div>
</body>

</html>