{{ define "main" }}
<h1>Bienvenue!</h1>

<p>Tu souhaites apprendre à programmer? Exprimer ta créativité en réalisant tes propres jeux vidéos ? Ou
    simplement programmer un robot? Rejoins nous et deviens un vrai Ninja!

<p>Le Dojo de Braine-l'Alleud organise des ateliers <strong>gratuits</strong> pour les filles et les garçons de
    <strong>7 à 18 ans</strong>, par des bénévoles une fois par mois dans une ambiance super positive.

<p>Pour les inscriptions, consultes <a href="sessions">les sessions disponibles</a>.

{{ end }}